.App {
  text-align: center;
  z-index: 0;
}


.positionBox {
  width: 500px;
  color: black;
}

.positionBox__positionMenu {
  display: flex;
  flex-direction: row;
}

.positionBox__positionMenu__currentlyOpen {
  align-self: start;
  margin-left: 0px !important;
}
.positionBox__dialog *{
  overflow: hidden;
}


